<a href="https://colab.research.google.com/github/SebastianJia/Recommender_system/blob/master/tmdb_movie_recommender.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install surprise

Collecting surprise
  Downloading https://files.pythonhosted.org/packages/61/de/e5cba8682201fcf9c3719a6fdda95693468ed061945493dea2dd37c5618b/surprise-0.1-py2.py3-none-any.whl
Collecting scikit-surprise (from surprise)
  Downloading https://files.pythonhosted.org/packages/4d/fc/cd4210b247d1dca421c25994740cbbf03c5e980e31881f10eaddf45fdab0/scikit-surprise-1.0.6.tar.gz (3.3MB)
     |████████████████████████████████| 3.3MB 2.9MB/s
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-surprise->surprise) (0.13.2)
Requirement already satisfied: numpy>=1.11.2 in /usr/local/lib/python3.6/dist-packages (from scikit-surprise->surprise) (1.16.4)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.6/dist-packages (from scikit-surprise->surprise) (1.3.0)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.6/dist-packages (from scikit-surprise->surprise) (1.12.0)
Building wheels for collected packages: scikit-surprise
  Building wheel for scikit-surprise (setup.py) ... done
  Created wheel for scikit-surprise: filename=scikit_surprise-1.0.6-cp36-cp36m-linux_x86_64.whl size=1683507 sha256=772b1950be1541f2f2fadc43c336420e3ca3e763f3b9b23a0ba79ea75fb3bea4
  Stored in directory: /root/.cache/pip/wheels/ec/c0/55/3a28eab06b53c220015063ebbdb81213cd3dcbb72c088251ec
Successfully built scikit-surprise
Installing collected packages: scikit-surprise, surprise
Successfully installed scikit-surprise-1.0.6 surprise-0.1

In [0]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
from ast import literal_eval
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn.metrics.pairwise import linear_kernel, cosine_similarity
from nltk.stem.snowball import SnowballStemmer
from nltk.stem.wordnet import WordNetLemmatizer
from nltk.corpus import wordnet
from surprise import Reader, Dataset, SVD, evaluate
import warnings; warnings.simplefilter('ignore')

# Download Datasets

In [3]:
!mkdir /root/.kaggle/
!mv kaggle.json /root/.kaggle/
!kaggle datasets download -d tmdb/tmdb-movie-metadata

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /root/.kaggle/kaggle.json'
Downloading tmdb-movie-metadata.zip to /content
 54% 5.00M/9.30M [00:00<00:00, 32.7MB/s]
100% 9.30M/9.30M [00:00<00:00, 45.3MB/s]

In [4]:
!kaggle datasets download -d rounakbanik/the-movies-dataset
!unzip tmdb-movie-metadata.zip
!unzip the-movies-dataset.zip

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /root/.kaggle/kaggle.json'
Downloading the-movies-dataset.zip to /content
 92% 209M/228M [00:02<00:00, 120MB/s]
100% 228M/228M [00:03<00:00, 77.5MB/s]
Archive:  tmdb-movie-metadata.zip
  inflating: tmdb_5000_credits.csv
  inflating: tmdb_5000_movies.csv
Archive:  the-movies-dataset.zip
  inflating: ratings.csv
  inflating: ratings_small.csv
  inflating: links.csv
  inflating: links_small.csv
  inflating: keywords.csv
  inflating: movies_metadata.csv
  inflating: credits.csv

# Data Pre-processing

In [50]:
md = pd.read_csv('movies_metadata.csv')
md.head(2)

   adult  ... vote_count
0  False  ...     5415.0
1  False  ...     2413.0

[2 rows x 24 columns]

In [51]:
len(md)

45466

In [0]:
md['genres'] = md['genres'].fillna('[]').apply(literal_eval).apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])

In [53]:
md['genres'][0:5]

0     [Animation, Comedy, Family]
1    [Adventure, Fantasy, Family]
2               [Romance, Comedy]
3        [Comedy, Drama, Romance]
4                        [Comedy]
Name: genres, dtype: object

In [0]:
md['year'] = pd.to_datetime(md['release_date'], errors='coerce').apply(lambda x: str(x).split('-')[0] if x != np.nan else np.nan)

In [55]:
md['year'][0:5]

0    1995
1    1995
2    1995
3    1995
4    1995
Name: year, dtype: object

In [0]:
links_small = pd.read_csv('links_small.csv')
links_small = links_small[links_small['tmdbId'].notnull()]['tmdbId'].astype('int')

In [0]:
md = md.drop([19730, 29503, 35587])
md['id'] = md['id'].astype('int')

In [58]:
smd.head(5)

   adult  ...                                        description
0  False  ...  Led by Woody, Andy's toys live happily in his ...
1  False  ...  When siblings Judy and Peter discover an encha...
2  False  ...  A family wedding reignites the ancient feud be...
3  False  ...  Cheated on, mistreated and stepped on, the wom...
4  False  ...  Just when George Banks has recovered from his ...

[5 rows x 32 columns]

In [0]:
credits = pd.read_csv('credits.csv')
keywords = pd.read_csv('keywords.csv')
keywords['id'] = keywords['id'].astype('int')
credits['id'] = credits['id'].astype('int')
md['id'] = md['id'].astype('int')

In [0]:
md = md.merge(credits, on='id')
md = md.merge(keywords, on='id')

In [0]:
smd = md[md['id'].isin(links_small)]

In [62]:
smd.head(5)

   adult  ...                                           keywords
0  False  ...  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...
1  False  ...  [{'id': 10090, 'name': 'board game'}, {'id': 1...
2  False  ...  [{'id': 1495, 'name': 'fishing'}, {'id': 12392...
3  False  ...  [{'id': 818, 'name': 'based on novel'}, {'id':...
4  False  ...  [{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...

[5 rows x 28 columns]

In [0]:
smd['tagline'] = smd['tagline'].fillna('')
smd['description'] = smd['overview'] + smd['tagline']
smd['description'] = smd['description'].fillna('')

In [0]:
smd['cast'] = smd['cast'].apply(literal_eval)
smd['crew'] = smd['crew'].apply(literal_eval)
smd['keywords'] = smd['keywords'].apply(literal_eval)
smd['cast_size'] = smd['cast'].apply(lambda x: len(x))
smd['crew_size'] = smd['crew'].apply(lambda x: len(x))

In [0]:
def get_director(x):
    for i in x:
        if i['job'] == 'Director':
            return i['name']
    return np.nan

In [0]:
smd['director'] = smd['crew'].apply(get_director)

In [0]:
smd['cast'] = smd['cast'].apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])
smd['cast'] = smd['cast'].apply(lambda x: x[:3] if len(x) >=3 else x)
smd['keywords'] = smd['keywords'].apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])

In [0]:
smd['cast'] = smd['cast'].apply(lambda x: [str.lower(i.replace(" ", "")) for i in x])
smd['director'] = smd['director'].astype('str').apply(lambda x: str.lower(x.replace(" ", "")))
smd['director'] = smd['director'].apply(lambda x: [x,x, x])

# Baseline

I use the TMDB Ratings to come up with our **Top Movies Chart.** I will use IMDB's *weighted rating* formula to construct my chart. Mathematically, it is represented as follows:

Weighted Rating (WR) = $(\frac{v}{v + m} . R) + (\frac{m}{v + m} . C)$

where,
* *v* is the number of votes for the movie
* *m* is the minimum votes required to be listed in the chart
* *R* is the average rating of the movie
* *C* is the mean vote across the whole report

In [69]:
vote_counts = md[md['vote_count'].notnull()]['vote_count'].astype('int')
vote_averages = md[md['vote_average'].notnull()]['vote_average'].astype('int')
C = vote_averages.mean()
C

5.238696808510638

In [70]:
m = vote_counts.quantile(0.5)
m

10.0

In [0]:
def weighted_score(x):
  v = x['vote_count']
  R = x['vote_average']
  return v/(v+m)*R + m/(v+m)*C

In [0]:
def build_chart(genre, percentile=0.85):
    qualified = md.copy()
    indices = [i for i in range(len(qualified)) if genre in qualified.iloc[i]['genres']]
    df = qualified.iloc[indices]
    vote_counts = df[df['vote_count'].notnull()]['vote_count'].astype('int')
    vote_averages = df[df['vote_average'].notnull()]['vote_average'].astype('int')
    C = vote_averages.mean()
    m = vote_counts.quantile(percentile)
    
    qualified = df[(df['vote_count'] >= m) & (df['vote_count'].notnull()) & (df['vote_average'].notnull())][['title', 'year', 'vote_count', 'vote_average', 'popularity']]
    qualified['vote_count'] = qualified['vote_count'].astype('int')
    qualified['vote_average'] = qualified['vote_average'].astype('int')
    
    qualified['weighted_rating'] = qualified.apply(lambda x: (x['vote_count']/(x['vote_count']+m) * x['vote_average']) + (m/(m+x['vote_count']) * C), axis=1)
    qualified = qualified.sort_values('weighted_rating', ascending=False).head(250)
    
    return qualified

In [73]:
build_chart('Romance').head(15)

                             title  year  ...  popularity  weighted_rating
10397  Dilwale Dulhania Le Jayenge  1995  ...      34.457         8.572162
351                   Forrest Gump  1994  ...     48.3072         7.971846
890                        Vertigo  1958  ...     18.2082         7.814646
41418                   Your Name.  2016  ...   34.461252         7.792781
897               Some Like It Hot  1959  ...     11.8451         7.749050
1153               Cinema Paradiso  1988  ...      14.177         7.748778
20097                     Paperman  2012  ...     7.19863         7.718252
39032                  Sing Street  2016  ...   10.672862         7.694092
896                  The Apartment  1960  ...     11.9943         7.604977
39887               The Handmaiden  2016  ...   16.727405         7.572180
3216                   City Lights  1931  ...     10.8915         7.564956
25087             The Way He Looks  2014  ...     5.71127         7.339378
46599               In a Heartbeat  2017  ...    20.82178         7.013284
1659                       Titanic  1997  ...     26.8891         6.981820
19920      Silver Linings Playbook  2012  ...     14.4881         6.971013

[15 rows x 6 columns]

In [74]:
build_chart('Adventure').head(15)

                                                   title  ... weighted_rating
15651                                          Inception  ...        7.910362
23076                                       Interstellar  ...        7.888166
4904   The Lord of the Rings: The Fellowship of the Ring  ...        7.860769
7069       The Lord of the Rings: The Return of the King  ...        7.850113
5876               The Lord of the Rings: The Two Towers  ...        7.839311
256                                            Star Wars  ...        7.820194
1246                                  Back to the Future  ...        7.805762
1175                             The Empire Strikes Back  ...        7.798531
5529                                       Spirited Away  ...        7.706503
9786                                Howl's Moving Castle  ...        7.483454
2911                                   Princess Mononoke  ...        7.481812
14723                                             Avatar  ...        6.934216
18008                                       The Avengers  ...        6.933615
26779                                           Deadpool  ...        6.930518
23948                            Guardians of the Galaxy  ...        6.921046

[15 rows x 6 columns]

# Content Based Filtering

In [0]:
tf = TfidfVectorizer(analyzer='word',ngram_range=(1, 2),min_df=0, stop_words='english')
tfidf_matrix = tf.fit_transform(smd['description'])

In [76]:
tfidf_matrix.shape

(9219, 268124)

In [0]:
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

In [0]:
smd = smd.reset_index()
titles = smd['title']
indices = pd.Series(smd.index, index=smd['title'])

In [0]:
def get_recommendations(title):
    idx = indices[title]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:31]
    movie_indices = [i[0] for i in sim_scores]
    return titles.iloc[movie_indices]

In [80]:
get_recommendations('The Dark Knight').head(10)

8031                      The Dark Knight Rises
132                              Batman Forever
1134                             Batman Returns
8334    Batman: The Dark Knight Returns, Part 2
7659                 Batman: Under the Red Hood
524                                      Batman
8001                           Batman: Year One
2599               Batman: Mask of the Phantasm
2716                                        JFK
8265    Batman: The Dark Knight Returns, Part 1
Name: title, dtype: object

# Metadata based

In [0]:
#keywords
s = smd.apply(lambda x: pd.Series(x['keywords']),axis=1).stack().reset_index(level=1, drop=True)
s.name = 'keyword'

In [82]:
s = s.value_counts()
s[:5]

independent film        610
woman director          550
murder                  399
duringcreditsstinger    327
based on novel          318
Name: keyword, dtype: int64

In [0]:
s = s[s > 1]
stemmer = SnowballStemmer('english')
stemmer.stem('dogs')
def filter_keywords(x):
    words = []
    for i in x:
        if i in s:
            words.append(i)
    return words
smd['keywords'] = smd['keywords'].apply(filter_keywords)
smd['keywords'] = smd['keywords'].apply(lambda x: [stemmer.stem(i) for i in x])
smd['keywords'] = smd['keywords'].apply(lambda x: [str.lower(i.replace(" ", "")) for i in x])

In [0]:
smd['soup'] = smd['keywords'] + smd['cast'] + smd['director'] + smd['genres']
smd['soup'] = smd['soup'].apply(lambda x: ' '.join(x))

In [0]:
count = CountVectorizer(analyzer='word',ngram_range=(1, 2),min_df=0, stop_words='english')
count_matrix = count.fit_transform(smd['soup'])

In [0]:
cosine_sim = cosine_similarity(count_matrix, count_matrix)
smd = smd.reset_index()
titles = smd['title']
indices = pd.Series(smd.index, index=smd['title'])

In [87]:
get_recommendations('The Dark Knight').head(10)

8031         The Dark Knight Rises
6218                 Batman Begins
6623                  The Prestige
2085                     Following
7648                     Inception
4145                      Insomnia
3381                       Memento
8613                  Interstellar
7659    Batman: Under the Red Hood
1134                Batman Returns
Name: title, dtype: object

# popularity and ranking

In [0]:
def improved_recommendations(title):
    idx = indices[title]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:26]
    movie_indices = [i[0] for i in sim_scores]
    
    movies = smd.iloc[movie_indices][['title', 'vote_count', 'vote_average', 'year']]
    vote_counts = movies[movies['vote_count'].notnull()]['vote_count'].astype('int')
    vote_averages = movies[movies['vote_average'].notnull()]['vote_average'].astype('int')
    C = vote_averages.mean()
    m = vote_counts.quantile(0.60)
    qualified = movies[(movies['vote_count'] >= m) & (movies['vote_count'].notnull()) & (movies['vote_average'].notnull())]
    qualified['vote_count'] = qualified['vote_count'].astype('int')
    qualified['vote_average'] = qualified['vote_average'].astype('int')
    qualified['wr'] = qualified.apply(weighted_score, axis=1)
    qualified = qualified.sort_values('wr', ascending=False).head(10)
    return qualified

In [89]:
improved_recommendations('The Dark Knight')

                                   title  vote_count  ...  year        wr
7648                           Inception       14075  ...  2010  7.998040
8613                        Interstellar       11187  ...  2014  7.997534
6623                        The Prestige        4510  ...  2006  7.993891
3381                             Memento        4168  ...  2000  7.993391
8031               The Dark Knight Rises        9263  ...  2012  6.998101
6218                       Batman Begins        7511  ...  2005  6.997658
1134                      Batman Returns        1706  ...  1992  5.995564
132                       Batman Forever        1529  ...  1995  5.001551
9024  Batman v Superman: Dawn of Justice        7189  ...  2016  5.000332
1260                      Batman & Robin        1447  ...  1997  4.008502

[10 rows x 5 columns]

# Collaborative filtering

In [90]:
reader = Reader()
ratings = pd.read_csv('ratings_small.csv')
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [0]:
data = Dataset.load_from_df(ratings[['userId', 'movieId', 'rating']], reader)
data.split(n_folds=5)

In [92]:
svd = SVD()
evaluate(svd, data, measures=['RMSE', 'MAE'])

Evaluating RMSE, MAE of algorithm SVD.

------------
Fold 1
RMSE: 0.9003
MAE:  0.6926
------------
Fold 2
RMSE: 0.9000
MAE:  0.6934
------------
Fold 3
RMSE: 0.8987
MAE:  0.6925
------------
Fold 4
RMSE: 0.8883
MAE:  0.6855
------------
Fold 5
RMSE: 0.8974
MAE:  0.6902
------------
------------
Mean RMSE: 0.8969
Mean MAE : 0.6908
------------
------------

CaseInsensitiveDefaultDict(list,
                           {'mae': [0.6925847997052694,
                             0.6934047470123078,
                             0.6924897375572361,
                             0.6855194436551176,
                             0.6901517303181367],
                            'rmse': [0.9002767550063627,
                             0.9000467918133953,
                             0.8986650471550817,
                             0.8883335651406448,
                             0.8973754280700353]})

In [93]:
trainset = data.build_full_trainset()
svd.train(trainset)

In [94]:
ratings[ratings['userId'] == 1]

    userId  movieId  rating   timestamp
0        1       31     2.5  1260759144
1        1     1029     3.0  1260759179
2        1     1061     3.0  1260759182
3        1     1129     2.0  1260759185
4        1     1172     4.0  1260759205
5        1     1263     2.0  1260759151
6        1     1287     2.0  1260759187
7        1     1293     2.0  1260759148
8        1     1339     3.5  1260759125
9        1     1343     2.0  1260759131
10       1     1371     2.5  1260759135
11       1     1405     1.0  1260759203
12       1     1953     4.0  1260759191
13       1     2105     4.0  1260759139
14       1     2150     3.0  1260759194
15       1     2193     2.0  1260759198
16       1     2294     2.0  1260759108
17       1     2455     2.5  1260759113
18       1     2968     1.0  1260759200
19       1     3671     3.0  1260759117

In [95]:
svd.predict(1, 302, 3)

Prediction(uid=1, iid=302, r_ui=3, est=2.5510171624868505, details={'was_impossible': False})

# Hybrid

In [0]:
def convert_int(x):
    try:
        return int(x)
    except:
        return np.nan

In [0]:
id_map = pd.read_csv('links_small.csv')[['movieId', 'tmdbId']]
id_map['tmdbId'] = id_map['tmdbId'].apply(convert_int)
id_map.columns = ['movieId', 'id']
id_map = id_map.merge(smd[['title', 'id']], on='id').set_index('title')

In [0]:
indices_map = id_map.set_index('id')

In [69]:
id_map

                                                    movieId        id
title
Toy Story                                                 1     862.0
Jumanji                                                   2    8844.0
Grumpier Old Men                                          3   15602.0
Waiting to Exhale                                         4   31357.0
Father of the Bride Part II                               5   11862.0
Heat                                                      6     949.0
Sabrina                                                   7   11860.0
Tom and Huck                                              8   45325.0
Sudden Death                                              9    9091.0
GoldenEye                                                10     710.0
The American President                                   11    9087.0
Dracula: Dead and Loving It                              12   12110.0
Balto                                                    13   21032.0
Nixon                                                    14   10858.0
Cutthroat Island                                         15    1408.0
Casino                                                   16     524.0
Sense and Sensibility                                    17    4584.0
Four Rooms                                               18       5.0
Ace Ventura: When Nature Calls                           19    9273.0
Money Train                                              20   11517.0
Get Shorty                                               21    8012.0
Copycat                                                  22    1710.0
Assassins                                                23    9691.0
Powder                                                   24   12665.0
Leaving Las Vegas                                        25     451.0
Othello                                                  26   16420.0
Now and Then                                             27    9263.0
Persuasion                                               28   17015.0
The City of Lost Children                                29     902.0
Shanghai Triad                                           30   37557.0
...                                                     ...       ...
Kill Command                                         158956  384798.0
Now You See Me 2                                     159093  291805.0
The Video Dead                                       159462   26677.0
Teenage Mutant Ninja Turtles: Out of the Shadows     159690  308531.0
Popstar: Never Stop Never Stopping                   159755  341012.0
The Conjuring 2                                      159858  259693.0
Approaching the Unknown                              159972  328429.0
Ghostbusters                                         160080   43074.0
Central Intelligence                                 160271  302699.0
Jason Bourne                                         160438  324668.0
The Maid's Room                                      160440  278348.0
The Legend of Tarzan                                 160563  258489.0
The Purge: Election Year                             160565  316727.0
Mike and Dave Need Wedding Dates                     160567  316023.0
Survive and Advance                                  160590  177869.0
Tallulah                                             160656  353571.0
Piper                                                160718  399106.0
Nerve                                                160954  328387.0
My Friend Rockefeller                                161084  368620.0
Sunspring                                            161155  401387.0
Author: The JT LeRoy Story                           161336  373348.0
Hell or High Water                                   161582  338766.0
Kingsglaive: Final Fantasy XV                        161594  390734.0
Body                                                 161830  314420.0
Sharknado 4: The 4th Awakens                         161918  390989.0
The Last Brickmaker in America                       161944  159550.0
Rustom                                               162542  392572.0
Mohenjo Daro                                         162672  402672.0
Shin Godzilla                                        163056  315011.0
The Beatles: Eight Days a Week - The Touring Years   163949  391698.0

[9219 rows x 2 columns]

In [0]:
def hybrid(userId, title):
    idx = indices[title]
    tmdbId = id_map.loc[title]['id']
    #print(idx)
    movie_id = id_map.loc[title]['movieId']
    
    sim_scores = list(enumerate(cosine_sim[int(idx)]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:26]
    movie_indices = [i[0] for i in sim_scores]
    
    movies = smd.iloc[movie_indices][['title', 'vote_count', 'vote_average', 'year', 'id']]
    movies['est'] = movies['id'].apply(lambda x: svd.predict(userId, indices_map.loc[x]['movieId']).est)
    movies = movies.sort_values('est', ascending=False)
    return movies.head(10)

In [100]:
hybrid(1, 'Avatar')

                                   title  vote_count  ...      id       est
974                               Aliens      3282.0  ...     679  3.181208
522           Terminator 2: Judgment Day      4274.0  ...     280  3.118250
8401             Star Trek Into Darkness      4479.0  ...   54138  3.039033
1011                      The Terminator      4208.0  ...     218  3.037327
8658          X-Men: Days of Future Past      6155.0  ...  127585  2.913211
922                            The Abyss       822.0  ...    2756  2.742126
2014                    Fantastic Planet       140.0  ...   16306  2.741491
1621  Darby O'Gill and the Little People        35.0  ...   18887  2.730784
4347      Piranha Part Two: The Spawning        41.0  ...   31646  2.639701
1668          Return from Witch Mountain        38.0  ...   14822  2.613053

[10 rows x 6 columns]

#Autoencoder

In [0]:
# https://udemy.com/recommender-systems
# https://deeplearningcourses.com/recommender-systems
from __future__ import print_function, division
from builtins import range
# Note: you may need to update your version of future
# sudo pip install -U future

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.utils import shuffle
from scipy.sparse import save_npz, load_npz

import keras.backend as K
from keras.models import Model
from keras.layers import Input, Dropout, Dense
from keras.regularizers import l2
from keras.optimizers import SGD

# config
batch_size = 128
epochs = 20
reg = 0.0001
# reg = 0

A = load_npz("Atrain.npz")
A_test = load_npz("Atest.npz")
mask = (A > 0) * 1.0
mask_test = (A_test > 0) * 1.0

# make copies since we will shuffle
A_copy = A.copy()
mask_copy = mask.copy()
A_test_copy = A_test.copy()
mask_test_copy = mask_test.copy()

N, M = A.shape
print("N:", N, "M:", M)
print("N // batch_size:", N // batch_size)

# center the data
mu = A.sum() / mask.sum()
print("mu:", mu)



# build the model - just a 1 hidden layer autoencoder
i = Input(shape=(M,))
# bigger hidden layer size seems to help!
x = Dropout(0.7)(i)
x = Dense(700, activation='tanh', kernel_regularizer=l2(reg))(x)
# x = Dropout(0.5)(x)
x = Dense(M, kernel_regularizer=l2(reg))(x)



def custom_loss(y_true, y_pred):
  mask = K.cast(K.not_equal(y_true, 0), dtype='float32')
  diff = y_pred - y_true
  sqdiff = diff * diff * mask
  sse = K.sum(K.sum(sqdiff))
  n = K.sum(K.sum(mask))
  return sse / n


def generator(A, M):
  while True:
    A, M = shuffle(A, M)
    for i in range(A.shape[0] // batch_size + 1):
      upper = min((i+1)*batch_size, A.shape[0])
      a = A[i*batch_size:upper].toarray()
      m = M[i*batch_size:upper].toarray()
      a = a - mu * m # must keep zeros at zero!
      # m2 = (np.random.random(a.shape) > 0.5)
      # noisy = a * m2
      noisy = a # no noise
      yield noisy, a


def test_generator(A, M, A_test, M_test):
  # assumes A and A_test are in corresponding order
  # both of size N x M
  while True:
    for i in range(A.shape[0] // batch_size + 1):
      upper = min((i+1)*batch_size, A.shape[0])
      a = A[i*batch_size:upper].toarray()
      m = M[i*batch_size:upper].toarray()
      at = A_test[i*batch_size:upper].toarray()
      mt = M_test[i*batch_size:upper].toarray()
      a = a - mu * m
      at = at - mu * mt
      yield a, at



model = Model(i, x)
model.compile(
  loss=custom_loss,
  optimizer=SGD(lr=0.08, momentum=0.9),
  # optimizer='adam',
  metrics=[custom_loss],
)


r = model.fit_generator(
  generator(A, mask),
  validation_data=test_generator(A_copy, mask_copy, A_test_copy, mask_test_copy),
  epochs=epochs,
  steps_per_epoch=A.shape[0] // batch_size + 1,
  validation_steps=A_test.shape[0] // batch_size + 1,
)
print(r.history.keys())



# plot losses
plt.plot(r.history['loss'], label="train loss")
plt.plot(r.history['val_loss'], label="test loss")
plt.legend()
plt.show()

# plot mse
plt.plot(r.history['custom_loss'], label="train mse")
plt.plot(r.history['val_custom_loss'], label="test mse")
plt.legend()
plt.show()